.project-item {
  display: flex;

  padding: 0 16px 8px;

  width: 100%;
  min-height: 65px;

  border-bottom: 1px solid $border-active-color;

  &:hover {
    .project-item-content {
      margin-right: 16px;
    }

    .project-item-more {
      display: flex;
    }
  }
}

.project-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  overflow: hidden;
}

.project-item__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  position: relative;

  max-height: 38px;
  overflow: hidden;
}

.project-item-content-info {
  display: flex;
}

.project-content__id {
  margin-right: 16px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-content__text {
  flex-shrink: 0;
  margin-right: 16px;
}
.project-content__user-info {
  flex-shrink: 0;
  margin-left: auto;
}

.project-item-more {
  display: none;
  align-items: center;
}
.project-item-more__wrapper {
  position: relative;
}