.radio {
  position: relative;
  display: flex;

  flex-shrink: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: 2px solid $border-def-color;

  cursor: pointer;

  &.active {
    border-color: $primary-def-color;

    &::before {
      position: absolute;
      content: "";
    
      border-radius: 50%;
    
      height: 10px;
      width: 10px;
    
      top: 50%;
      left: 50%;
    
      transform: translate(-50%, -50%);

      background-color: $primary-def-color;
    }
  }

  &.disabled {
    background-color: $border-disabled-color;

    pointer-events: none;
    cursor: default;

    &.active {
      border-color: $font-color-disabled;

      &::before {
        position: absolute;
        content: "";
      
        border-radius: 50%;
      
        height: 10px;
        width: 10px;
      
        top: 50%;
        left: 50%;
      
        transform: translate(-50%, -50%);

        background-color: $font-color-disabled;
      }
    }
  }

}