@import "@/components/Buttons/index";

.button__primary {
  background-color: $primary-def-color;

  color: $secondary-def-color;

  &:hover:enabled {
    background-color: $primary-hover-color;
  }

  &:active:enabled,
  &_active {
    background-color: $primary-active-color;
  }

  &:disabled {
    background-color: $primary-disabled-color;

    color: $font-color-disabled;

    cursor: default;
  }
}

.button__second {
  background-color: $primary-def-color;

  border-radius: 4px;
  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;

  color: $font-color-prim;

  &:hover:enabled {
    border-color: $border-hover-color;
    background-color: $secondary-hover-color;
  }

  &:active:enabled,
  &_active {
    border-color: $border-active-color;
    background-color: $secondary-active-color;
  }

  &:disabled {
    border-color: $border-disabled-color;

    color: $font-color-disabled;

    cursor: default;
  }
}
