.task__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// Header-content //
.task__header {
  padding: 24px;

  border-bottom: 1px solid $border-def-color;
}

.task__code-row {
  display: flex;
}
.task__code-info {
  display: flex;

  margin-right: 16px;
  width: 100%;

  & > *:not(:last-child) {
    margin-right: 16px;
  }
}

.task__title {
  padding: 16px 0;
}

.task__info {
  display: flex;
  align-items: center;
}

.task__status {
  &:not(:last-child) {
    margin-right: 16px;
  }
}
.task__date-create {
  display: block;
}
// end Header-content //

// Main-content //
.task__main {
  padding: 24px;

  flex-grow: 1;
}

.task__desc {
  margin-bottom: 24px;
}

.task__desc-text {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.task__desc-info {
  display: flex;
  align-items: center;
}

.task__activity-title {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.task__activity-wrapper {

}
.task__activity-action {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Main-content - History //
.task__history-wrapper {
  display: flex;
  align-items: center;
}
.task__history-info {
  &:not(:last-child) {
    margin-right: 16px;

    &.no-margin {
      margin-right: 0;
    }
  }
}
.task__history-spend-time,
.task__history-status {
  margin-right: 16px;
}
.task__history-time,
.task__history-spend-time {
  display: block;
}

// Main-content - Comments //
.task__comment-wrapper {
  padding: 8px 0 16px;

  border-radius: 4px;
  border: 1px solid $border-def-color;
}

.task__comment-title {
  display: flex;
  align-items: center;

  padding: 0 16px;
  margin-bottom: 8px;
}
.task__comment-user {
  width: 100%;
}
.task__comment-date {
  display: block;
  flex-shrink: 0;
}

.task__comment-content {
  display: flex;
  align-items: center;
  
  padding: 0 16px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    .task__comment-button {
      display: block;
    }
  }
}
.task__comment-text {
  width: 100%;

  padding: 12px 12px;
}
.task__comment-button {
  display: none;
}
.task__comment-update {
  padding: 16px 8px 16px 24px;
}

.task__comment-footer {
  padding: 16px 16px 8px 24px;
}

.task__child-comment-wrapper {
  margin-bottom: 8px;
  padding: 0 16px 0 24px;
}
.task__child-comment {
  padding: 8px 0 16px;
  border-radius: 4px;
  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;
}
// end Main-content //

// Footer //
.task__footer {
  display: flex;
  align-items: center;

  padding: 24px 40px;

  border-top: 1px solid $border-def-color;
}
.task__footer-input {
  width: 100%;
  margin-right: 8px;
}
// end Footer //
