.profile {
  padding: 24px 0;
}

.profile__wrapper {
  display: flex;
}

.profile-info-img {
  position: relative;
  padding: 12px 10px;

  width: 320px;
  height: 324px;

  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
  }

  &:hover .profile-info-img__dropdown {
    display: block;
  }
}
.profile-info-img__dropdown {
  position: absolute;

  display: none;

  right: 20px;
  bottom: 22px;
}

.profile-info {
  padding: 8px 24px 0;

  width: 100%;
}
.profile-info__header {
  display: flex;
  margin-bottom: 24px;
}
.profile-info__full-name {
  margin-right: 24px;
}
.profile-info__status {
  margin-right: auto;
}

.profile-info__title {
  margin-bottom: 8px;
}