.dropdown-select-profile {
  position: absolute;

  padding: 8px 0;

  right: 0;
  top: 48px;
  z-index: 9;

  width: 100%;
  max-height: 216px;

  background-color: $secondary-def-color;
  box-shadow: 0px 0px 4px $dropdown-shadow-color;

  overflow-y: auto;

  &_hidden {
    display: none;
  }
}
.dropdown-select-profile__search-wrapper {
  margin-bottom: 8px;
}
.dropdown-select-profile__button-wrapper {
  display: flex;
  align-items: center;

  padding: 8px 16px;

  background-color: $secondary-def-color;

  &:hover {
    background-color: $secondary-hover-color;
  }

  &:active,
  &_active {
    background-color: $secondary-active-color;
  }

  &_disabled {
    pointer-events: none;
    color: $font-color-disabled;
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}
.dropdown-select-profile__text {
  width: 100%;

  text-align: left;
}

.dropdown-select-profile__empty-text {
  padding: 8px 16px;

  text-align: center;
}