.input-search__wrapper,
.input-search-small__wrapper {
  display: flex;
  align-items: center;

  width: 200px;
  
  border-radius: 4px;
  background-color: $secondary-def-color;
  
  flex-shrink: 0;

  &:hover {
    border-color: $border-hover-color;
  }

  &:active {
    border-color: $border-active-color;
  }

  &_error {
    border-color: $font-color-error;
  }

  &_disabled {
    border-color: $border-disabled-color;
    color: $font-color-disabled;
  }
}

.input-search__wrapper {
  padding: 10px 8px 10px 12px;
  border: 1px solid $border-def-color;

  &_disabled {
    background-color: $primary-disabled-color;
  }
}

.input-search-small__wrapper {
  padding: 8px 8px 8px 12px;
  border-bottom: 1px solid $border-def-color;
}

.input-search {
  margin-right: 8px;

  width: 100%;

  &::placeholder {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

    color: $font-color-placeholder;
  }

  &:disabled {
    background-color: transparent;
  }
}

.input-search__button-clear,
.input-search__button-search {
  &:disabled {
    cursor: default;
  }
}

.input-search__button-clear {
  margin-right: 8px;

  color: $border-def-color;
}

.input-search__button-search {
  color: $font-color-disabled;

  &:disabled {
    cursor: default;
  }
}

.input-search-small__button-search {
  color: $font-color-disabled;
  
  &:disabled {
    color: $font-color-placeholder;
   
    cursor: default;
  }
}
