.dropdown-multiselect {
  padding: 8px 0;

  width: 100%;

  background-color: $secondary-def-color;
  box-shadow: 0px 0px 4px $dropdown-shadow-color;

  &_hidden {
    display: none;
  }
}
.dropdown-multiselect__wrapper {
  display: flex;
  align-items: flex-start;

  padding: 8px 16px;
  width: 100%;
  
  background-color: $secondary-def-color;
  
  &:hover {
    background-color: $secondary-hover-color;
  }

  &:active,
  &.active {
    background-color: $secondary-active-color;
  }

  &_disabled {
    pointer-events: none;
    color: $font-color-disabled;
  }
}

.dropdown-multiselect__icon {
  margin-right: 8px;

  color: $border-def-color;

  &.active {
    color: $primary-def-color;
  }
}