.dropdown {
  position: absolute;

  padding: 8px 0;

  right: 0;
  top: 42px;
  z-index: 9;

  max-height: 350px;

  background-color: $secondary-def-color;
  box-shadow: 0px 0px 4px $dropdown-shadow-color;

  overflow-y: auto;

  &_hidden {
    display: none;
  }
}
.dropdown__button {
  padding: 8px 16px;

  background-color: $secondary-def-color;

  min-width: max-content;
  width: 100%;

  text-align: left;

  &:hover {
    background-color: $secondary-hover-color;
  }

  &:active {
    background-color: $secondary-active-color;
  }

  &.disabled {
    pointer-events: none;
    color: $font-color-disabled;
  }
}