.filters {
  margin-bottom: 24px;
}
.filters__wrapper {
  display: flex;
  align-items: center;
}

.filters__input {
  margin-right: 24px;
  width: 100%;
}
.filters__filter-form {
  margin-right: 24px;
}
.filters__select {
  display: flex;
  align-items: center;

  max-width: 214px;

  flex-shrink: 0;
  
  &:not(:last-child) {
    margin-right: 24px;
  }
}
.filters__add-button {
}