.section-login {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  background-color: $secondary-def-color;
}
.section-login__wrapper {
  width: 300px;

  border-radius: 4px;
  background-color: $secondary-def-color;
  box-shadow: 0px 4px 4px 0px $dropdown-shadow-color;
}

.login__title {
  padding: 16px;

  border-bottom: 1px solid $border-def-color;
}

.login__rows-wrapper {
  padding: 24px;

  border-bottom: 1px solid $border-def-color;
}

.login__error-message {
  margin-bottom: 8px;
}

.login__row {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.login__input-title {
  margin-bottom: 8px;

  span {
    margin-left: 4px;
  }
}

.login__button {
  display: flex;
  justify-content: flex-end;

  padding: 24px;
}