.empty-project {
  padding: 24px 0;

  height: 100%;
}

.empty-project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  border: 1px solid $border-def-color;
  border-radius: 4px;
}
