.select-with-btn__wrapper {
  display: flex;
  align-items: center;

  width: 100%;
}

.button-sort__wrapper {
  position: relative;

  display: flex;
  align-items: center;

  padding: 8px 9px 8px 12px;

  width: 100%;

  max-height: 42px;

  border-radius: 4px 0 0 4px;
  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;

  cursor: pointer;

  &_active {
    border-color: $border-active-color;
  }

  &_disabled {
    border-color: $border-disabled-color;
    background-color: $primary-disabled-color;

    cursor: default;
  }
}
.button-sort__value {
  margin-right: 8px;

  width: 100%;

}
.button-select__button-open {
  color: $font-color-disabled;
  
  &:disabled {
    cursor: default;
  }
}
.button-type-order {
  display: flex;
  align-items: center;

  padding: 0 9px;

  height: 42px;
  width: fit-content;
  min-width: 42px;

  border-radius: 0 4px 4px 0;

  cursor: pointer;


  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;

  color: $font-color-prim;

  &:hover {
    border-color: $border-hover-color;
    background-color: $secondary-hover-color;
  }

  &:active {
    border-color: $border-active-color;
    background-color: $secondary-active-color;
  }

  &_disabled {
    border-color: $border-disabled-color;

    color: $font-color-disabled;

    cursor: default;
  }
}