$primary-def-color: #1f75cb;
$primary-hover-color: #1068bf;
$primary-active-color: #0b5cad;
$primary-disabled-color: #dcdcde;

$secondary-def-color: #ffffff;
$secondary-hover-color: #ececef;
$secondary-active-color: #dcdcde;

/* Text */
$font-color-sec: #ffffff;
$font-color-prim: #1c1c1c;
$font-color-disabled: #8e8e8e;

/* Border */
$border-def-color: rgba(0, 0, 0, 0.15);
$border-hover-color: rgba(18, 19, 22, 0.5);
$border-active-color: #1c1c1c;
$border-disabled-color: rgba(0, 0, 0, 0.15);

$border-bronze-color: #9e6955;
