.header {
  padding: 24px 0;

  background-color: $primary-def-color;
}
.header__wrapper {
  display: flex;

  justify-content: flex-end;
}

.header__nav {
  margin-right: 24px;

  display: flex;
}
.header__item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.header-profile {
  position: relative;
  display: flex;

  padding: 8px 15px;

  border: 1px solid transparent;
  border-radius: 4px;

  &:hover {
    border: 1px solid $secondary-def-color;
  }

  &:active,
  &_active {
    background-color: $secondary-def-color;

    & .header-profile__button {
      color: $secondary-active-color;
    }
  }

  cursor: pointer;
}
.header-profile__img {
  margin-right: 8px;
}
.header-profile__button {
  color: $secondary-def-color;
}