.task-item__wrapper {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.task-item {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 0 16px 8px;

  width: 100%;
  min-height: 69px;

  border-bottom: 1px solid $border-active-color;

  &:hover {
    .task-item-content {
      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    .task-item-more {
      display: flex;
    }
  }
}

.task-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

.task-item-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item__title {
  margin-right: 16px;
}
.project-item__profile {
  flex-shrink: 0;
}

.task-item-content-info {
  display: flex;
}

.task-content__id {
  margin-right: 16px;
}
.task-content__text {
  flex-shrink: 0;
  margin-right: 16px;
}
.task-content-info__status {
  &:not(:last-child) {
    margin-right: 16px;
  }
}
.task-content__user-info {
  flex-shrink: 0;
  margin-left: auto;
}

.task-item-more {
  display: none;
  align-items: center;
}