@import "@/components/Buttons/index";

.button-icon__second {
  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;

  color: $font-color-prim;

  &:hover {
    border-color: $border-hover-color;
    background-color: $secondary-hover-color;
  }

  &:active,
  &_active {
    border-color: $border-active-color;
    background-color: $secondary-active-color;
  }

  &:disabled {
    border-color: $border-disabled-color;
    background-color: $secondary-def-color;

    cursor: default;

    color: $font-color-disabled;
  }
}

.button-icon__prim {
  background-color: $primary-def-color;

  color: $secondary-def-color;

  &:hover {
    background-color: $primary-hover-color;
  }

  &:active,
  &_active {
    background-color: $primary-active-color;
  }

  &:disabled {
    background-color: $primary-disabled-color;

    cursor: default;

    color: $font-color-disabled;
  }
}