.dropdown {
  position: absolute;

  padding: 8px 0;

  right: 0;
  top: 44px;
  z-index: 9;

  background-color: $secondary-def-color;
  box-shadow: 0px 0px 4px $dropdown-shadow-color;

  &_hidden {
    display: none;
  }
}
.dropdown__button {
  display: inline-block;

  padding: 8px 16px;

  width: 100%;

  background-color: $secondary-def-color;

  text-align: left;

  &:hover {
    background-color: $secondary-hover-color;
  }

  &:active {
    background-color: $secondary-active-color;
  }

  &_disabled {
    pointer-events: none;
    color: $font-color-disabled;
  }
}