.input-date {
  position: relative;

  width: 100%;
  max-height: 42px;
}

.input-date__input {
  display: flex;
  align-items: center;

  padding: 10px 9px 10px 12px;

  border-radius: 4px;
  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;

  &:hover {
    border-color: $border-hover-color;
  }

  &:active,
  &.active {
    border-color: $border-active-color;
  }

  &.error {
    border-color: $error-color;
  }

  &.disabled {
    border-color: $border-disabled-color;
    background-color: $primary-disabled-color;
  }
}
.input-date__current-val {
  margin-right: 8px;

  width: 100%;
}
.input-date__datepicker-icon {
  color: $font-color-disabled;
}