.user-item {
  padding: 9px 16px 9px 0;

  display: flex;

  border-bottom: 1px solid $border-active-color;

  &:hover {
    .user-item-more {
      display: flex;
    }
  }
}
.user-item-content {
  display: flex;
  align-items: center;

  width: 100%;

  & > *:not(:last-child) {
    margin-right: 16px;
  }
}
.user-item-content__wrapper {
  display: flex;
  
  align-items: center;
  padding: 9px 16px;
  
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}
.user-item-content__link {
  cursor: pointer;
}

.user-item-more {
  display: none;
}