.paging {
  display: flex;
  align-items: center;

  padding: 20px;
}

.paging-buttons {
  display: flex;

  margin-right: 32px;

  column-gap: 8px;
}
.paging-input {
  display: flex;
  align-items: center;

  margin-right: auto;

  column-gap: 8px;
}
.paging-input__wrapper {
  width: 70px;
}