.status-item {
  display: inline-block;

  padding: 0 8px;

  border-radius: 4px;

  &_draft {
    background-color: $border-bronze-color;
  }

  &_in-process {
    background-color: $border-bronze-color;
  }

  &_completed {
    background-color: $primary-def-color;
  }

  &_testing {
    background-color: $border-bronze-color;
  }

  &_testing-done {
    background-color: $primary-def-color;
  }

  &_closed {
    background-color: $primary-def-color;
  }

  &_deleted {
    background-color: $error-color;
  }

  &_active {
    background-color: $primary-def-color;
  }

  &_blocked {
     background-color: $font-color-disabled;
  }
}
