.dropdown-button {
  position: relative;
  width:  fit-content;
}

.dropdown-button__wrapper {
  padding: 0 16px;

  height: 42px;

  border-radius: 4px;

  cursor: pointer;
}

.dropdown-button__text {
  margin-right: 8px;
}

.dropdown-button__primary,
.dropdown-button__second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-button__primary {
  background-color: $primary-def-color;

  color: $secondary-def-color;

  &:hover {
    background-color: $primary-hover-color;
  }

  &:active,
  &_active {
    background-color: $primary-active-color;
  }

  &_disabled {
    background-color: $primary-disabled-color;

    color: $font-color-disabled;

    cursor: default;
  }
}

.dropdown-button__second {
  background-color: $primary-def-color;

  border-radius: 4px;
  border: 1px solid $border-def-color;
  background-color: $secondary-def-color;

  color: $font-color-prim;

  &:hover {
    border-color: $border-hover-color;
    background-color: $secondary-hover-color;
  }

  &:active,
  &_active {
    border-color: $border-active-color;
    background-color: $secondary-active-color;
  }

  &_disabled {
    border-color: $border-disabled-color;

    color: $font-color-disabled;

    cursor: default;
  }
}
