.button {
  display: flex;
  align-items: center;

  padding: 0 16px;

  height: 42px;

  border-radius: 4px;

  cursor: pointer;

  &__nav {
    border: 1px solid $secondary-def-color;

    color: $secondary-def-color;

    &:hover {
      background-color: $secondary-hover-color;

      color: $font-color-prim;
    }

    &:active,
    &_active {
      background-color: $secondary-def-color;

      &.text {
        color: $font-color-prim;
      }
    }
  }

  &__primary {
    background-color: $primary-def-color;

    color: $secondary-def-color;

    &:hover {
      background-color: $primary-hover-color;
    }

    &:active,
    &_active {
      background-color: $primary-active-color;
    }

    &:disabled {
      background-color: $primary-disabled-color;

      color: $font-color-disabled;

      cursor: default;
    }
  }

  &__icon {
    padding: 9px;

    border: 1px solid $border-def-color;
    background-color: $secondary-def-color;

    color: $font-color-prim;

    &:hover {
      border-color: $border-hover-color;
      background-color: $secondary-hover-color;
    }

    &:active,
    &_active {
      border-color: $border-active-color;
      background-color: $secondary-active-color;
    }

    &:disabled {
      border-color: $border-disabled-color;
      background-color: $secondary-def-color;

      cursor: default;

      color: $font-color-disabled;
    }
  }
}
